<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Quiz</title>
	<link rel="stylesheet" href='/stylesheets/style.css' />
</head>
<body>
	
<h1>Créditos</h1>

<p>
Esta práctica ha sido desarrollada por Luis Cobo Vázquez y Miguel Redondo Casado
</p>
<a href="https://github.com/gari1995/my_quiz_2017">Aquí puedes encontrar el repositorio de Github donde se aloja</a>

<img src="/images/bob-esponja-pirata.jpg" />

<div class="video-responsive">
<iframe width="560" height="315" src="https://www.youtube.com/embed/W-ZHoIJh1W8" frameborder="0" allowfullscreen></iframe>
</div>

</body>	
</html>

