<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Quiz</title>
	<link rel="stylesheet" href='/stylesheets/style.css' />
</head>
<body>
	
<h1>Ayuda</h1>

<p>
Un Quiz es un juego en el que se plantean preguntas y el objetivo es responder de manera correcta al máximo número de preguntas posibles.En el caso de responder erróneamente se puede volver a intentar para hacerlo mejor.
</p>


</body>	
</html>